<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="" id="collapseExample">
							<div class="widget">
								<div class="widget-body">
									<form id="SearchEqu" name="SearchEqu" role="form" method="post" class="form-horizontal">
										<div class="clearfix">
											<div class="col-sm-6 col-md-3">
												<label class="col-sm-4 control-label no-padding-right">新闻标题</label>
												<div class="col-sm-8">
													<input id="newsTitle" type="text" class="form-control" name="newsTitle">
												</div>
											</div>
											<div class="col-sm-6 col-md-3">
												<label class="col-sm-4 control-label no-padding-right">新闻类别</label>
												<div class="col-sm-8">
													<select id="newsCategory" name="newsCategory" class="form-control chosen-select" tabindex="2"
															required>
														<option value="">--请选择--</option>
														<option th:each="type:${#dict.getDictList('news_category')}"
																th:value="${type.value}" th:text="${type.name}"></option>
													</select>
												</div>
											</div>

											<div class="col-sm-6 col-md-12 text-center" style="margin-top: 20px;">
												<div class="pull-left">
													<input class="avatar-input" id="logoInput" name="avatar_file" type="file" style="display: inline-block;">
													<button  type="button" class="btn  btn-primary" onclick="importFile()">
														<i class="fa fa-plus" aria-hidden="true"></i>导入
													</button>
												</div>
												<button shiro:hasPermission="system:newsBaseInfo:add" type="button" class="btn  btn-primary" onclick="add()">
													<i class="fa fa-plus" aria-hidden="true"></i>添加
												</button>
												<button type="button" class="btn btn-primary" onclick="reLoad();">查询</button>
												<button type="button" class="btn btn-primary" onclick="exportExcel();">导出</button>

											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:newsBaseInfo:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:newsBaseInfo:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:newsBaseInfo:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/newsBaseInfo/newsBaseInfo.js"></script>
</body>
</html>